.btn-primary {
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    font-size: 1.5rem;
  }

  &::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='369' height='20' viewBox='0 0 369 20' fill='none'%3E%3Cpath d='M96.246 2.81349L96.5413 3.42327C100.939 3.38069 97.7983 2.70605 101.87 2.81195C103.487 3.66342 108.615 2.64298 110.032 3.08532C109.993 3.01579 111.986 2.96848 111.853 2.69829C112.474 3.15959 113.903 2.7821 115.158 2.88487C115.617 3.00658 114.832 3.03334 114.496 3.17401L117.37 3.3006C118.491 3.13317 118.76 2.85357 117.534 2.8202C125.036 2.56274 161.07 1.61389 169.165 1.70237C168.139 2.07045 165.63 1.87259 164.699 2.44899C166.844 2.72579 167.842 2.28832 168.799 2.60129C169.587 1.75455 173.494 2.32552 175.077 1.45983L175.709 1.92127L176.763 1.61492C186.19 1.95289 178.919 1.82291 187.256 1.57006C192.085 1.55682 194.402 2.17335 197.076 1.89082C196.673 1.90023 195.628 2.20673 196.873 2.30935C197.076 1.89082 200.216 2.55013 200.802 2.12192C202.028 2.15529 205.995 2.02974 204.671 2.62335C205.333 2.33421 208.869 2.14867 206.752 1.94125C207.95 1.90523 209.1 1.79954 209.962 1.90419L208.438 2.08868C212.472 2.09439 214.657 1.62075 217.301 2.08115L215.815 2.33518C218.229 2.32473 220.241 2.33134 221.172 1.75494L218.691 1.62646C222.687 1.5703 225.101 1.55985 228.445 1.79298L227.256 1.82914C231.519 2.3057 253.748 2.33393 257.695 2.94378L255.911 3.41568L259.293 3.71068C258.89 3.72774 257.606 2.33704 257.28 2.48552C264.485 2.38463 301.994 1.89432 308.635 1.42494C311.31 1.11942 309.087 0.72653 309.049 0.656994C312.326 0.74353 310.486 1.08431 313.255 0.979447C314.012 0.883296 313.083 0.63972 312.652 0.595056C313.869 0.61296 314.99 0.437872 315.095 0.638671C313.581 0.83097 314.25 1.35429 313.627 1.72063L317.201 1.5893L317.03 1.24957C317.825 1.22296 319.097 2.13067 322.595 1.86027C328.508 1.56409 334.947 1.5209 340.908 1.2944C340.803 1.0936 339.548 1.00616 338.293 0.918719C339.088 0.884443 340.315 0.910153 341.034 0.744468C339.615 1.13742 343.544 0.919349 342.432 1.10225C346.838 1.81849 352.446 0.912396 356.326 1.37566C356.697 2.11685 365.258 13.9835 365.313 14.8734C366.512 14.822 367.7 14.7782 368.064 14.6916C367.766 14.9094 365.418 15.0742 364.163 14.9867L363.925 14.5157C361.041 14.4273 363.263 14.8125 360.455 14.8555C360.322 15.2521 362.913 15.2672 365.19 15.2394C363.147 15.3396 361.121 15.6776 360.263 15.2742C358.346 15.4835 360.501 15.7452 358.191 15.9717C356.534 15.9014 354.34 15.5779 352.452 15.8566L352.49 15.9262C347.899 16.4487 345.4 15.523 341.201 16.0283L341.661 16.15C340.185 16.4118 337.234 16.1845 334.55 16.4899C335.317 16.3939 335.969 16.0969 334.35 16.0884C331.273 16.411 329.146 16.2187 326.903 16.5766L324.719 16.2532C313.957 16.6007 271.405 17.0397 260.587 17.1871L261.018 17.2394C244.527 17.4029 210.695 18.0853 193.641 17.8267C191.025 18.248 187.384 18.2174 184.643 18.3764C186.167 18.1919 185.631 17.9387 184.443 17.9749C176.068 18.1505 183.868 17.7212 175.388 17.696C165.625 17.5217 128.316 18.4441 119.663 18.8609C114.999 18.3708 109.201 18.8526 104.632 18.5554L105.091 18.6772C100.196 18.5361 72.5065 19.3472 66.8065 19.1944L67.5733 19.106C62.6016 18.8106 63.2996 19.4033 59.39 19.6294C59.89 19.0006 55.6252 18.6926 54.0063 18.6535L54.073 18.7924C51.6304 18.7105 46.0726 18.2225 42.0396 18.1708L42.2014 18.5104C38.8302 18.1696 32.4969 18.3676 30.0827 18.3551C24.5543 18.542 16.0355 19.183 8.62158 18.7827L3.86613 19.8009L3.16087 19.7062C3.16087 19.7062 -4.75495 8.05595 4.95975 5.50896L4.7979 5.16937L6.73096 5.19782C9.04006 5.01721 10.1237 5.40868 9.96187 5.0691L6.79085 5.12973C9.11856 5.01837 7.49183 4.84882 6.59167 4.65931C7.5639 4.61997 8.5068 4.57254 9.27398 4.46121C9.73336 4.59059 8.93821 4.60188 8.58372 4.68096C9.83837 4.79139 11.5808 5.10058 13.1046 4.93141C15.4903 4.88222 13.2501 4.38177 16.0285 4.32303C30.6772 3.96381 44.8667 3.45989 59.6878 3.39443C60.0236 3.25376 59.621 3.26317 59.1901 3.20318C63.6542 3.30719 67.6206 3.21994 71.692 3.3335C72.8132 3.17373 73.1207 2.95601 73.4466 2.8152C73.1109 2.95587 78.7245 2.97716 84.4664 2.95437C87.3327 2.92757 90.2381 2.90902 92.4467 2.88787C94.6554 2.85906 96.1673 2.82766 96.256 2.80598L96.246 2.81349Z' fill='%23E25641'/%3E%3C/svg%3E");
    margin-top: -1rem;

    @include mobile {
      transform: scale(0.5);
    }
  }

  &:hover {
    color: $orange;
    text-decoration: none;
  }
}

.link-text {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline;
}

.link-logo a {
  &:hover {
    text-decoration: none;
  }
}

.btn-icon {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 0;
  padding: 0.5rem;

  img {
    position: relative;
    z-index: 5;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $orange;
    clip-path: circle();
    z-index: 0;
  }

  &:hover::after {
    background-color: $black;
  }
}
