.btn-shadow {
  filter: $shadow;
}

.btn-primary {
  cursor: pointer;
  transition: transform 0.3s ease-out;
  transform: rotate(2deg);
  min-height:15.625rem;
  --r: 20px; /* control the radius */
  padding: var(--r);
  background: $white;
  mask: 
    radial-gradient(50% 50%,#0000 66%, $black 67%) round 
     var(--r) var(--r)/calc(2*var(--r)) calc(2*var(--r)), 
    conic-gradient($black 0 0) content-box;

  &:hover,
  &:active {
    transform: translateY(-5px) rotate(0deg);
    transform: rotate(-2deg);
  }

  @include small-desktop {
    min-height:auto;
  }

  button,
  a {
    display: inline-block;
    vertical-align: middle;
    height:16rem;
    padding: 2rem 1.5rem;
    color: white;
    text-align: center;
    font-family: postino-std;
    border: 0.3rem solid white;
    background-color: $orange;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.3;
    aspect-ratio: 1.5;
  
    @include small-desktop {
      font-size: 2rem;
      height:10rem;
    }
  
    @include mobile {
      font-size: 1.5rem;
      height:8rem;
    }


    &:hover {
      background-color: $white;
      color: $orange;
    }
  }

  &.blue {
    button,
    a {
      background-color: $blue-300;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      &:hover, 
      &:active {
        color: $blue-300;
        background-color: $white;
      }
    }
  }
}

.link-text {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline;
}

.link-logo a {
  &:hover {
    text-decoration: none;
  }
}

.btn-icon {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 0;
  padding: 0.5rem;
  scale: 1;
  transition: .1s ease-out;

  &:hover,  &:active {
    scale:1.1;
    transition: .1
  }

  img {
    position: relative;
    z-index: 5;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $blue-400;
    clip-path: circle();
    z-index: 0;
  }

  &:hover::after {
    background-color: $orange;
  }
}
