.organizers {
  & .container {
    max-width:35rem;
    margin: auto;
  }

  & a:hover span,
  & .speaker-name:hover {
      color: $blue-500;
  }

  & .speaker-avatar {
    margin: 0 auto 2rem auto;

    @include mobile {
      margin-bottom: 1.5rem;
    }
  }
}
