.day-info {
  font-weight: 700;
  color: $blue-400;
}

.timezones-note {
    color: $blue-400;
    margin: 2rem 0 1rem 0;
    font-size: 1.1rem;
    line-height: 1rem;
    text-align: center;
    
    @include lg {
      text-align: left;
    }
}

.sidepage .timezones-note {
  text-align: left;
}

.time {
  white-space: nowrap;
  padding-right: 1rem;
  width: 10%;
  font-size: 1rem;
  color: #195BCE;
  font-weight: 300;

  @include md {
    font-size: 20px;
    line-height: 34px;
  }
}
  
  .schedule {
     align-items: center;
     display: flex;
     flex-direction: column;


    tbody {
      color: $blue-600;
    }

    .btn-primary {
      @include lg {
      scale: 0.6;}
    
      & a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      }
    }
  
    .speaker {
        display: inline;
    }

    h3 {
     text-align: center;
     padding-bottom:20px;
    }
  
    .data {
      display: flex;
      flex-direction: column;
      gap: 66px;
  
      @include lg {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        background-image: url(/images/line.svg);
        background-position: center 20px;
        background-size: auto calc(100% - 180px);
      }
    }

    .day {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      text-wrap: balance;
  
      @include lg {
        max-width: 450px;
      }
  
      .content {
        display: flex;
        flex-flow: column wrap;
        background-color: var(--transparent-white);
        border-radius: 10px;
        text-align: left;
        padding: 0 1rem;

  
        h3 {
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 20px;
        }
  
        h4 {
          text-align: center;
          font-size: 32px;
          margin: auto;
          line-height: 32px;
          margin-bottom: 10px;  
          width: 85%;
          padding: 5px 0;
          vertical-align: middle;
          font-weight:700;
  
          @include md {
            font-size: 40px;
            line-height: 40px;
          }
        }
         
        table {
          td {
            padding-bottom: 1.5rem;
            font-size: 1rem;
            line-height: 1.5;
            
            @include md {
              font-size: 1.25rem;
            }
          }
       
          .title {
            font-size: 1rem;
            font-weight: 700;
            
            @include md {
              font-size: 1.25rem;
            }
  
            .speaker {
              font-weight:400;
              
              @include md {
              }
            }
          }
        }
      }
  
      .full-schedule-link {
        margin-bottom: 60px;
  
        @include lg {
          margin-bottom: 0;
        }
      }
    }
  }
  
  @import "./mixins.scss";
  
  .generic-block.full-schedule {
    .link-to-other-day {
      display: inline-block;
      text-wrap: nowrap;
    }
  
    .title {
      h4 {
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  
    .title > div {
      display: flex;
      flex-direction: row;
      gap: 40px;
      align-items: center;
      justify-content: space-between;
    }
  
    .day {
      margin-bottom: 20px;
    }
  
    .date {
      color: #ffffff;
      margin-bottom: 60px;
    }
  
    .book-your-ticket.button {
      grid-row: 2;
      grid-column: 1 / 4;
      justify-self: center;
      @include lg {
        grid-column: 2;
      }
      background-color: initial;
    }
  
    .schedule-main-header {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: auto auto;
      align-items: center;
      row-gap: 30px;
      max-width: 85%;
  
      .link {
        grid-column: 1;
        grid-row: 1;
        @include lg {
          grid-row: 1 / 3;
        }
      }
  
      div {
        grid-column: 2 / 4;
  
        h2 {
          text-align: left;
        }
      }
    }
  
    table {
      a {
        color: #00ffc4;
        text-decoration: underline;
      }
  
      tr {
        padding: 20px;
        margin-bottom: 30px;
        background: var(--transparent-white);
        border-radius: 10px;
        letter-spacing: 0;
        letter-spacing: 0;
        word-break: break-word;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
  
        @include md {
          padding: 40px;
          gap: 40px;
          flex-direction: row;
        }
        
        td {
          font-size: 18px;
          line-height: 24px;
          display: flex;
          flex-direction: column;
          gap: 40px;
          align-items: start;
          
          @include md {
            font-size: 22px;
            line-height: 28px;
          }
        }
        
        .time {
          text-align: center;
          white-space: nowrap;
          font-size: 15px;
          line-height: 24px;
          
          @include md {
            font-size: 18px;
            line-height: 35px;
          }
        }
  
        h4 {
          color: var(--white);
  
          @include md {
            line-height: 45px;
          }
        }
              
        
        ul {
          margin-left: 30px;
          li {
            &::marker,
            & > p:first-child {
              color: var(--neon-green);
            }
          }
        }
        
        p + p {
          margin-top: .5rem;
        }
        
        .speaker {
          display: flex;
          flex-direction: row;
          gap: 20px;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
        
          .photo,
          .photo-container {
            border-radius: 50%;
          }
        
          .photo-container {
            border: 3.2px solid var(--pink);
            display: flex;
            align-items: center;
            justify-content: center;
          }
        
          .photo {
            border: 2px solid var(--white);
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            margin: 15px;
            max-height: 192px;
            @include small-mobile {
              margin: 10px;
              max-height: 150px;
            }
          }
  
          .speaker-info {
            flex-direction: column;
            display: flex;
            align-items: flex-start;
            gap: 20px;
  
            .links {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
            
              a {
                background-color: var(--transparent-gray);
                border-radius: 50%;
                width: 21px;
                height: 21px;
                padding: 10.5px;
                img {
                  height: 21px;
                  width: 21px;
                }
              }
            }
          }
        }
      }
    }
  }
    
  .full-schedule-day {
    .timezones-note {
      margin-bottom:0;
    }

    .link-text {
      font-size:1rem;
      order: 1;

      @include lg {
        order: 2; 
      }
    }

    .content.title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;

      @include lg {
        flex-direction: row;
      }
    
      h3 {
        text-align: left;
        text-wrap: balance; 
      }
      
      h4.date {
        text-align: left;
      }

      .day-date {
        order: 2;

        @include lg {
          order: 1;
        }
      }
      
      .link-to-other-day {
        flex: none;
        border-radius: 59px;
        text-transform: uppercase;
        text-align: center;
        font-size: 32px;
        line-height: 40px;
        padding: 11px 50px 0px 50px;
      
        @include lg {
          font-size: 40px;
          line-height: 59px;
        }
      }
    }
  
    table {
      width: 100%;
      color: $blue-600;
  
      a {
        color: $orange;
        text-decoration: underline;
      }
    
      tr {
        padding: 3rem 0;
        letter-spacing: 0;
        word-break: break-word;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        border-bottom: 6px dotted white;
    
        @include md {
          gap: 40px;
          flex-direction: row;
        }
        
        td {
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: start;
          font-weight: 700;
          
          @include md {
            line-height: 28px;
          }
        }
        
        p {
          text-align:left;
        }

        .title {
          font-size:24px;
        }

        .time {
          width:8rem;
          text-align: center;
          white-space: nowrap;
          font-size: 20px;
          line-height: 26px;
        }
    
        h4 {
          font-weight: 700;
          font-size:20px;
          margin: 0;
          padding: 0;
          text-align: left;
    
          @include md {
            font-size: 24px;
          }
        }
        
        ul {
          margin-left: 30px;
          li {
            &::marker,
            & > p:first-child {
              color: var(--neon-green);
            }
          }
        }
        
        p + p {
          margin-top: .5rem
        }

        .speaker-avatar {
          width: 6rem;
          height: 6rem;
          margin-bottom: 0;
          align-items: baseline;

          @include ssm {
            width: inherit;
            height: inherit;
            align-items: inherit;
          }
        }

        .photo {
            background-color: $blue-300;
            background-blend-mode: luminosity;
            filter: brightness(1.2);
            width: 8rem;
            height: 8rem;
            background-size: 100%;
        }
        
        .speaker {
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: flex-start;
          justify-content: flex-start;
          width: 100%;
          margin: 2rem 0 0 0;
  
          @include md {
            min-height: 200px;
          }

          @include lg {
            margin: 2rem 0 0 3rem;
          }
  
          p {
            @include lg {
              font-size: 1.25rem;
              line-height: 2.4rem;
            }
          }
    
          .speaker-info {
            flex-direction: column;
            display: flex;
            align-items: left;
            gap: 20px;

            @include ssm {
              flex-direction: row;
              align-items: center;
            }
        
            .speaker-details {
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              text-align: left; 
            }

            .speaker-link {
              background: $blue-300;
            }

            .speaker-link:hover {
              background: $blue-500;
            }
    
          }
        }
      }

      tr:nth-child(odd) {
        .photo {
          background-color: $orange;
        }

        .speaker-info {
          .speaker-link {
              background: $orange;
            }

            .speaker-link:hover {
              background: $brown;
            }
          }
        }

    }
  }
  