.past-speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.past-speakers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 7.5rem;
  justify-content: center;
}

.avatar {
  width: 15rem;
  height: 15rem;
  flex-shrink: 0;
  clip-path: circle();
}
