.speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speakers-section {
  background: #eef3ff;
  padding: 8rem 0 8rem;
  text-align: center;
  background-image: url(/images/backgrounds/speakers-top-bkg.png), url(/images/backgrounds/speakers-bottom-bkg.png);
  background-repeat: repeat-x, repeat-x;
  background-position: top, bottom;
  margin-top: 5rem;
  display: flex;
  gap: 6rem;
  flex-direction: column;
}

.speakers-title {
  font-family: postino-std, serif;
  font-size: 3rem;
  margin-bottom: 3.5rem;
  font-weight: 700;
}

.speakers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.speaker-card {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  margin-bottom: 2rem;
  @media (max-width: 600px) {
    margin-bottom: 0;
  }
  &--blue {
    .speaker-link{
      background: #719DEA;
    }
    mix-blend-mode: multiply;
  }
  &--orange {
    .speaker-link{
      background: #eb7f19;
    }
  }
}

.speaker-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid #fff;
  overflow: hidden;
  margin-bottom: 2rem;
  @media (max-width: 600px) {
    margin-bottom: 0.5rem;
  }
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1) contrast(1.1);
    z-index: 1;
  }
}

.speaker-name {
  font-family: "pill-gothic-900mg", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  @media (max-width: 600px) {
    margin-bottom: 0.5rem;
  }
  color: #000;
}

.speaker-links {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.speaker-link {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 600px) {
  .past-speakers-list {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem 0;
  }
}
