@import "mixins";

.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  li a {
    filter: $shadow;
    padding: 1.5rem 3rem;
    background-color: white;
    border-radius: 9999px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9rem;
    width: clamp(22rem, 28vw, 26rem);
  }

  .sponsors-partners li a{
    padding: 1.5rem 3rem;
    height: 6rem;
    width: clamp(18rem, 15vw, 20rem);
  }
  

  h4 {
    text-align: center;
  }

  &.sponsor-section-wrapper__premier-partners {
    .sponsors-list {
      li:last-child {
          grid-column: span 3;
        }
    }
    img {
      width: clamp(25rem, 80vw, 30rem);
      max-height: 10rem;

      @include mobile {
        width:90%
      }
    }
  }

  &.sponsor-section-wrapper__dinner-sponsors {
    .sponsors-list {
      li:last-child {
        grid-column: span 3;
      }
    }
    img {
      max-width: 10rem;
      max-height: 5rem;
    }
  }


  &.sponsor-section-wrapper__partners {
    .sponsors-list {
      width: 100%;
      justify-content: center;
      justify-items: center;
    }
    img {
      width: clamp(8rem, 25vw, 10rem);
      max-height: 7.5rem;
    }
  }

  &.sponsor-section-wrapper__supporters {
    .sponsors-list {
      width: 100%;
      justify-content: center;
    }
    img {
      max-width: 10rem;
      max-height: 5rem;
    }
  }
}

.sponsors-list {
  display: grid;
  grid-template-columns: 1fr;
  li:last-child {
      grid-column: 1;
  }
  
  @include md {
    grid-template-columns: 1fr 1fr;
    li:last-child {
      grid-column: span 2;
    }
  }

  @include lg {
    grid-template-columns: 1fr 1fr 1fr;
    li:last-child {
        grid-column: initial;
    }
  }

  
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
  max-width: min(1200px, 75%);
  margin: 0 auto;
}
