.stay-up-to-date-section {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  background: #eef3ff;
  background-image: url(/images/backgrounds/speakers-top-bkg.png);
  background-repeat: repeat-x;
  background-position: top;
  padding-top: 20rem;

  h2 {
    font-family: 'postino-std', cursive, sans-serif;
    font-size: 3rem;
    margin-bottom: 4rem;
    text-align: center;
    
    @media (max-width: 850px) {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    
    span.emberfest {
      display: block;
      font-size: 5rem;
      @media (max-width: 850px) {
        font-size: 3rem;
      }
      margin-top: 2.5rem;
      letter-spacing: 0.02em;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .btn-primary {
      margin-top: 2rem;
      color: #FFF;
    }
  }

  .input-wrap {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;

    input {
      width: 100%;
      padding: 1.5rem 2rem;
      border: none;
      border-radius: 3rem;
      background: #fff;
      box-shadow: 0 4px 8px rgba(54, 68, 146, 0.08);
      color: #364492;
      font-weight: 400;
      line-height: 38.4px;
      outline: none;
      transition: box-shadow 0.2s;

      &::placeholder {
        color: #364492;
        opacity: 0.60;
      }

      &:focus {
        box-shadow: 0 6px 16px rgba(54, 68, 146, 0.15);
      }
    }

    label {
      display: none;
    }
  }
}

