//breakpoints
$desktop-breakpoint: 1200px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 576px;

//colors

$orange: #EB7F19;
$brown: #A85B23;
$blue-050: #EEF3FF;
$blue-100: #F0F4FF;
$blue-200: #D9E4FE;
$blue-300: #719DEA;
$blue-400: #314199;
$blue-500: #26266D;
$blue-600: #171F56;
$white: #ffffff;
$beige: #FFF8EE;
$black: #000;

