---
---

@import "reset";
@import "variables";
@import "fonts";
@import "mixins";
@import "hero";
@import "about";
@import "speakers";
@import "sponsors";
@import "schedule";
@import "venue";
@import "stay-up-to-date";
@import "footer";
@import "buttons";

html {
  font-family: $main-font;
}

body {
  background-color: $white;
}

a:hover {
  color: $orange;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.mw-lg {
  max-width: 48rem;
  margin: 0 auto;
}

