<section id="past-speakers" class="past-speakers container mb-10">
 <img class="mb-5 mobile-75" src="/images/small.svg" alt="" />
  <h3 class="mb-9">Speakers</h3>
  <ul class="past-speakers-list">
    {% for speaker in site.data.2024.speakers %}
      <li class="speaker">
        <img
        class="avatar"
        alt="{{ speaker.name }} avatar"
        src="/images/speakers/{{ speaker.avatar }}"
/>
        <div class="speaker-info">
          <h5>{{ speaker.name }}</h5>
          <ul class="speaker-links">
            <li>
              <a
        href="{{ speaker.web }}"
        target="_blank"
        rel="noopener noreferrer" class="btn-icon"><img src="/images/icons/link.svg" alt="link icon"/></a>
            </li>
            <li>
              <a
        href="{{ speaker.twitter }}"
        target="_blank"
        rel="noopener noreferrer" class="btn-icon"><img src="/images/icons/twitter.svg" alt="Mastodon icon"/></a>
            </li>
          </ul>
        </div>
      </li>
    {% endfor %}
  </ul>
  <!-- 
    <a class="button btn-primary mt-8" href="https://www.papercall.io/emberfest-2024" alt="Submit a Talk">
      Submit a Talk
    </a>
  -->
</section>
