<section class="venue container mb-16 mw-xl">
  <div class="image-wrapper">
    <img src="/2024/images/venue.jpg" class="venue-img" alt="photo of the conference venue">
  </div>
  <div class="content">
    <h3 class="mb-5">Conference Venue</h3>
    <p>This year’s EmberFest will take place in The Chocolate Factory. It offers a bright industrial event space in the first floor with a great atmosphere. The venue is located near the city center.</p>
    <a href="https://maps.app.goo.gl/Sben3Ge1cNRdLvUAA" class="btn-primary mt-5" target="blank">Check on map</a>
  </div>
</section>