<section id="about" class="about container mw-lg mb-16">
  <div class="">
    <p class="mb-4">EmberFest is back in 2025!</p>
    <p class="">EmberFest is the European Community Ember Conference. If you’re looking for updates on the latest and greatest in Ember and Glimmer this is the place to be. EmberFest is also a great opportunity to get in touch with the European Ember Community (and friends from abroad) and hiring Ember talent.</p>
    <div class="about-btns mt-7">
      <tito-button event="emberfest/emberfest-2025" class="btn-primary">Get your ticket!</tito-button>
      <a class="btn-primary" href="https://www.papercall.io/emberfest-2025" class="link-text" target="_blank">Submit a Talk</a>
    </div>
  </div>
</section>
