<footer class="">
  <div class="footer-wrapper container mw-lg">
   <nav class="sections">
      <ul>
        <li>
          <a href="/documents/emberfest-2024-sponsorship-prospectus.pdf" class="link-text">Sponsoring</a>
        </li>
        <li>
          <a href="/code-of-conduct" class="link-text">Code of Conduct</a>
        </li>
        <li>
          <a href="/imprint" class="link-text">Imprint</a>
        </li>
      </ul>
    </nav>
    <nav class="links">
        <ul class="past-events">
          <li>
            <a href="/2017" class="link-text">2017</a>
          </li>
          <li>
            <a href="/2018" class="link-text">2018</a>
          </li>
          <li>
            <a href="/2019" class="link-text">2019</a>
          </li>
          <li>
            <a href="/2020" class="link-text">2020</a>
          </li>
          <li>
            <a href="/2021" class="link-text">2021</a>
          </li>
          <li>
            <a href="/2022" class="link-text">2022</a>
          </li>
          <li>
            <a href="/2023" class="link-text">2023</a>
          </li>
        </ul>
    </nav>
    <p>
      Thanks to
      <a class="tito-link link-text" href="https://ti.to">Tito</a>
      for the support
    </p>
    <p>&copy; 2023 EmberFest UG</p>
  </div>
</footer>
