<header>
  <div class="container pb-5">
    <nav class="">
      <ul class="header-links">
        <li><a href="#stay-up-to-date" class="link-text">Stay up to date!</a></li>
        <li>
                      <a
          href="https://fosstodon.org/@emberfest"
          target="_blank"
          rel="noopener noreferrer" class="btn-icon"><img src="/images/icons/mastodon.svg" alt="Mastodon icon"/></a>
                  </li>
                  <li>
                      <a
          href="https://twitter.com/emberfest"
          target="_blank"
          rel="noopener noreferrer" class="btn-icon"><img src="/images/icons/twitter.svg" alt="Twitter icon"/></a>
                  </li>
      </ul>
    </nav>
  </div>
</header>
