<header>
  <div class="container pb-2">
    <nav>
      <ul class="header-links">
        <li>
          <a href="#stay-up-to-date" class="link-text">Stay up to date!</a>
        </li>
        <li>
          <a href="https://twitter.com/emberfest" target="_blank" rel="noopener noreferrer" class="btn-icon"
            aria-label="X (Twitter)">
            <img src="/images/icons/twitter.svg" alt="X (Twitter) icon" />
          </a>
        </li>
        <li>
          <a href="https://fosstodon.org/@emberfest" target="_blank" rel="noopener noreferrer" class="btn-icon"
            aria-label="Mastodon">
            <img src="/images/icons/mastodon.svg" alt="Mastodon icon" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="header-divider"></div>