<section id="hero" class="hero container mt-9">
  <div class="content">
    <div class="date">
      <h5>
        <span class="date">September 17–18, 2026</span>
        <span class="city">Prague, Czechia</span>
      </h5>
    </div>
    <img src="/images/bridge.svg" alt="Charles bridge with EmberFest written across it">
    <p class="pt-9 mw-lg">Emberfest is the European Community Ember Conference. If you’re looking for updates on the
        latest and greatest in Ember and Glimmer this is the place to be. EmberFest is also a great opportunity to get
        in touch with the European Ember Community (and friends from abroad) and hiring Ember talent.</p>
  </div>
</section>