<section id="hero" class="hero container mt-9">
  <div class="content">
    <div class="date mb-8">
      <h5>
        <span class="date">September 17–18, 2026</span>
        <span class="city">Prague, Czechia</span>
      </h5>
    </div>
    <div class="content-layout">
      <div>
        <h1 class="mb-8"><span class="dark-blue">Ember</span></br>&lcub;&lcub;fest&rcub;&rcub;</h1>
        <p class="pt-6">EmberFest is back in 2026!</p>
        <p class="pt-6">Emberfest is the European Community Ember Conference. If you’re looking for updates on the
          latest and greatest in Ember and Glimmer this is the place to be. EmberFest is also a great opportunity to get
          in touch with the European Ember Community (and friends from abroad) and hiring Ember talent.</p>
      </div>
    </div>
  </div>
</section>