<section id="hero" class="hero container mt-9">
  <div class="content">
    <div class="date mb-8">
      <h5 class="">September 18–19, 2025, Brussels</h5>
    </div>
    <div class="content-layout">
      <div>
        <h1 class="mb-8">Ember</br>&lcub;&lcub;fest&rcub;&rcub;</h1>
        <p class="px-4">EmberFest is the European Community Ember Conference. If you’re looking for updates on the
          latest and greatest in Ember and Glimmer this is the place to be. EmberFest is also a great opportunity to get
          in touch with the European Ember Community (and friends from abroad) and hiring Ember talent.</p>
      </div>
      <!-- <div> -->
      <img src="/images/hero.webp" alt="Brussels postcard" class="img-responsive">
      <!-- </div> -->
    </div>
</section>