<div class="sidepages__header">
    <img
      class="logo_vertical"
      src="../images/logo_vertical.svg"
      alt="emberfest logo"
    />
  
    <img
      class="header__image"
      src="../images/glasses_small.webp"
      alt="sunglasses"
    />
  
    <div class="logo_and_date">
      <img
        class="logo_horizontal"
        src="../images/logo_horizontal.svg"
        alt="emberfest logo"
      />
      <div class="date_and_location">
        <h2 class="date">21-22 SEP. 2023</h2>
        <h2 class="location">Location TBA</h2>
      </div>
    </div>
  </div>
  