<section id="sponsors" class="sponsors container mb-10 mt-10">
  <h4 class="mb-9">Sponsors</h4>
  {% if site.data.sponsors.premier_partners %}
  <div class="sponsor-section-wrapper sponsor-section-wrapper__premier-partners">
    <h5 class="mb-5">Premier Partners</h5>
    <ul class="sponsors-list mb-9">
      {% for sponsor in site.data.sponsors.premier_partners %}
      <li>
        <a href="{{ sponsor.link }}">
          <img src="/images/sponsors/{{sponsor.logo}}" />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if site.data.sponsors.live_stream_partner %}
  <div class="sponsor-section-wrapper sponsor-section-wrapper__premier-partners">
    <h5 class="mb-5">Live Stream Partner</h5>
    <ul class="sponsors-list mb-9">
      {% for sponsor in site.data.sponsors.live_stream_partner %}
      <li>
        <a href="{{ sponsor.link }}">
          <img src="/images/sponsors/{{sponsor.logo}}" />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if site.data.sponsors.dinner %}
  <div class="sponsor-section-wrapper  sponsor-section-wrapper__dinner-sponsors">
    <h5 class="mb-5">Dinner Sponsor</h5>
    <ul class="sponsors-list mb-9">
      {% for sponsor in site.data.sponsors.dinner %}
      <li>
        <a href="{{ sponsor.link }}">
          <img src="/images/sponsors/{{sponsor.logo}}.svg" />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if site.data.sponsors.partners %}
  <div class="sponsor-section-wrapper sponsor-section-wrapper__partners">
    <h5 class="mb-5">Partners</h5>
    <ul class="sponsors-list mb-9">
      {% for sponsor in site.data.sponsors.partners %}
      <li>
        <a href="{{ sponsor.link }}">
          <img src="/images/sponsors/{{sponsor.logo}}" />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if site.data.sponsors.supporters %}
  <div class="sponsor-section-wrapper sponsor-section-wrapper__supporters">
    <h5 class="mb-5">Supporters</h5>
    <ul class="sponsors-list">
      {% for sponsor in site.data.sponsors.supporters %}
      <li>
        <a href="{{ sponsor.link }}">
          <img src="/images/sponsors/{{sponsor.logo}}" />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</section>