<section id="stay-up-to-date" class="stay-up-to-date-section">
  <div class="stay-up-to-date-divider"></div>
  <div class="container mw-lg mb-4 pt-8">
    <h4>Stay up to date with<h4>
    <h2 class="mb-9">Ember&ZeroWidthSpace;{% raw %}{{fest}}{% endraw %}</h2>
    

    <form action="//emberfest.us16.list-manage.com/subscribe/post?u=214d2441f851e9fa9c9dfc96d&amp;id=fe26330e01"
      method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <div class="input-wrap mb-9 mt-9">
        <label for="email">Email</label>
        <input type="email" id="email" value="" name="EMAIL" placeholder="example@company.com" autocomplete="email"
          required />
      </div>

      <div class="input-wrap mb-9">
        <label for="name">Full Name</label>
        <input type="text" id="name" value="" name="MMERGE3" placeholder="John Manneken" autocomplete="name" required />
      </div>

      <div class="input-wrap mb-9">
        <label for="country">Country</label>
        <input type="text" id="country" name="MMERGE5" placeholder="Country" autocomplete="country" required />
      </div>

      <div class="btn-shadow mb-10">
        <div class="btn-primary">
          <button type="submit">Sign up</button>
        </div>
      </div>
    </form>
  </div>
</section>