<section class="venue container">
  <div class="image-wrapper">
    <img src="/images/venue.jpg" class="venue-img" alt="photo of the conference venue">
  </div>
  <div class="content">
    <h4 class="mb-5 venue-title">The Venue</h4>
    <p>This year’s EmberFest will take place at the Royal Flemish Theater (KVS) in the heart of Brussels. We will be based in the building's TOP and TOPBAR gorgeously renovated event rooms.</p>
    <a class="btn-secondary" href="https://maps.app.goo.gl/iHvMT6u3yuRQx2FZ8" class="btn-primary mt-5" target="_blank">Venue location</a>
  </div>
</section>