<section class="venue container">
  <div class="image-wrapper">
    <img src="/images/venue.jpg" class="venue-img" alt="photo of the conference venue">
  </div>
  <div class="content">
    <h4 class="mb-5">The Venue</h4>
    <p>EmberFest is the European Community Ember Conference. If you’re looking for updates on the latest and greatest in
      Ember
      and Glimmer this is the place to be. EmberFest is also a great opportunity to get in touch with the European Ember
      Community (and friends from abroad) and hiring Ember talent.</p>
  </div>
</section>