<div class="venue-divider-top"></div>
<section class="venue container">
  <div class="image-wrapper">
    <img src="/images/venue-kino-pritomnost.jpg" class="venue-img" alt="photo of the conference venue">
  </div>
  <div class="venue-details">
    <h4 class="mb-5 venue-title">The Venue</h4>
    <p>
      This year’s EmberFest will take place at the Kino Přitomnost located in Prague, Czechia. 
      It features an auditorium-style setup with high-quality projection and sound, making it ideal for talks and presentations.
      The venue includes comfortable seating and an on-site café-bar, with easy access via public transport.
    </p>
    <div class="btn-primary">
      <a href="https://maps.app.goo.gl/ALfpufrRFiejpP3w6" target="_blank">
        Venue </br> location
      </a>
    </div>
  </div>
</section>
